body {
    background-color: #f7f7f7;
}

.form-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner-container{
    height: 400px;
    width: 800px;
    margin: 0 auto;
    margin-top: 5%;
}

.image-container {
    width: 100px;
    height: 100px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-style: solid;
    border-color: #00b0ab;
    background: url("/static/images/octopusicon.png") no-repeat;
    margin: 0 auto;
}

.companyname {
    width: 100%;
    height: 50px;
    padding-left: 25%;
}

.companyname h1 {
    font-weight: 600;
}

.pure-form-centered {
    margin: 0 auto;
}


